.card {
    font-family: 'Trebuchet MS', sans-serif;
    @include size(320px, 437px);
    margin-top: 43px;
    margin-bottom: 16px;
    background: $default-card-color;
    border-bottom-right-radius: $card-border-radius;
    border-bottom-left-radius: $card-border-radius;
    position: relative;
    cursor: pointer;

    &::before,
    &::after {
		position: absolute;
		top: -43px;
        display: inline-block;
        @include size(160px, 43px);
		content: '';
		background-color: inherit;
    }

    &::before {
		left: 21px;
        transform: skew(-45deg);
    }

	&::after {
		right: 0;
		border-top-right-radius: 12px;
    }

    &:hover {
        background-color: $hover-card-color;

        .card__weight {
            background-color: $hover-card-color;        
        }

        & + .items__remark a {
            color: $hover-card-color;
        }
    }

}

.card__bg {
    background-color: $card-background;
    position: relative;

    &::before,
    &::after {
        position: absolute;
		top: -39px;
        display: inline-block;
        @include size(156px, 39px);
		content: '';
		background-color: inherit;
    }

    &::before {
        left: 20px;
        transform: skew(-45deg);
    }

    &::after {
        z-index: 1;
        right: 0;
        border-top-right-radius: $card-border-radius - 4px;
    }
}

.card__bg,
.card__wrapper {
    display: inline-block;
    @include size(312px, 433px);
    border-bottom-right-radius: $card-border-radius - 4px;
    border-bottom-left-radius: $card-border-radius - 4px;   
}

.card__wrapper {
    font-family: 'Trebuchet MS', sans-serif;
    padding-left: 42px;
    margin-bottom: 16px;
    text-align: left;
    background: url('../img/bg-card.png') no-repeat;
    background-position: bottom;
    position: relative;
    z-index: 2;
}

.card__title {
    position: relative;
    color: $card-text-color;
    z-index: 2;
}

.card__label {
    position: absolute;
    top: -20px;
    margin-left: 2px;
}

.card__label--sel-hov {
    display: none;
    color: $selected-hover-label;
}

.card__name {
    font-family: 'Trebuchet MS';
    color: $card-title-color;

    h2 {
        font-size: 48px;
        font-family: 'Trebuchet MS', sans-serif;
        font-weight: 700;
        margin-bottom: 14px;    
    }

    span {
        font-size: 24px;
        display: block;
        margin-left: 2px;
    }
    
}

.card__description {
    font-size: 14px;
    color: $card-text-color;
    margin-left: 2px;
}

.card__weight {
    font-size: 21px;
    font-weight: 400;
    line-height: 22px;
    position: absolute;
    bottom: 12px;
    right: 12px;
    color: $card-weight-text-color;
    background-color: $default-card-color;
    @include size(80px);
    border-radius: 50%;
    text-align: center;
    padding-top: 15px;
    z-index: 2;
}

.card__count {
    font-size: 42px;
    line-height: 36px;
    font-weight: 400;
    display: block;
}

.card.is-active {
    background-color: $selected-card-color;

    .card__weight {
        background-color: $selected-card-color;
    }
}

.card.is-selected-hover {
    background-color: $selected-hover-card-color;

    .card__label--sel-hov {
        display: block;
    }

    .card__label--default {
        display: none;
    }

    .card__weight {
        background-color: $selected-hover-card-color;
    }
}
