.comparison {
	position: relative;
	margin-bottom: 80px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 170px;

		&:before {
			content: 'VS';
			color: #fff;
			font-size: 32px;
			font-weight: 700;
			line-height: 3;
			text-align: center;
			position: absolute;
			top: 410px;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			@include size(100px);
			background: $dark-color;
			border-radius: 50%;
		}
	}
}

.comparison__title {
	&--desktop {
		display: none;
	}

	@media (min-width: $screen-md-min) {
		&--desktop {
			display: block;
		}
	}
}

.comparison__subscription {
	font-size: $font-size-base;
	color: $text-color;
	display: block;
	margin-bottom: 40px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 130px;
	}
}

.comparison__img {
	display: block;
	height: 200px;
	margin: auto;
	margin-bottom: 40px;

	@media (min-width: $screen-md-min) {
		height: 346px;
		margin-bottom: 126px;
	}
}

.comparison__option {
	margin-bottom: 24px;

	@media (min-width: $screen-md-min) {
		margin-bottom: 76px;

		h3 {
			margin-bottom: 0;
		}

		p {
			margin-top: 13px;
			width: 410px;
		}
	}

}

.comparison__brands {

	@media (min-width: $screen-md-min) {
		margin-top: -40px;
	}
}

.comparison__brand {
	display: inline-block;
	vertical-align: top;
	@include size(30px);
	background-size: cover;
	background-repeat: no-repeat;
	margin-right: 20px;

	&--apple {
		background-image: url('../img/icon-apple.svg');
	}

	&--win {
		background-image: url('../img/icon-windows.svg');
	}

	&--android {
		background-image: url('../img/icon-android.svg');
	}

	@media (min-width: $screen-sm-min) {
		@include size(40px);
	}
}
