.items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.items__block {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 32px;

    @media (min-width: $screen-sm-min) {
        margin-left: 40px;
        margin-right: 40px;
    }

    @media (min-width: $screen-lg-min) {
        margin-bottom: 0;
    }
}

.items__block.is-disabled {
    .card {
        cursor: default;
    }

    .card__wrapper {
        opacity: 0.5;
    }

    .card,
    .card__weight {
        background-color: $disabled-card-color;
    }

    .items__remark--default {
        display: none;
    }

    .items__remark--dis {
        display: block;
    }
}

.items__remark {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: $remark-color;
    text-align: center;

    a {
        border-bottom: 1px dashed $default-card-color;
    }

    &--dis {
        display: none;
        color: $disabled-text-color;
    }
}