.page-main__title {
    font-family: 'Exo 2 Thin', sans-serif;
    font-size: $h2-size;
    padding-top: 20px;

    @media (min-width: $screen-sm-min) {
        font-size: $h1-size;
    }

    @media (min-width: $screen-lg-min) {
        padding-top: 0;
    }
}