.slider {
	margin-bottom: 80px;

	@media (min-width: $screen-lg-min) {
		margin-bottom: 20px;
	}
}

.slider__title {
	font-size: $font-size-subtitle + 6;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 24px;
	padding-left: 30px;

	@media (min-width: $screen-lg-min) {
		margin-bottom: 8px;
		font-size: $font-size-small;
		padding-left: 20px;
	}
}

.slider__container {
	background: $gray-color;
	position: relative;
	text-align: center;
	padding: 20px;

	&:before {
		content: '';
		position: absolute;
		background: transparent;
		@include size(100%);
		top: 0;
		left: 0;
		transition: all .3s ease;
	}

	@media (min-width: $screen-lg-min) {
		height: 136px;
		padding: 14px;
	}
}

.slider__content {
	padding-left: 40px;
	padding-right: 40px;

	@media (min-width: $screen-lg-min) {
		padding: 0;
		margin-left: -5px;
	}
}

.slider__item {
	cursor: pointer;
	padding: 5px;

	&:hover,
	&:focus,
	&.is-active {
		.slider__container:before {
			background: rgba(4, 4, 43, 0.5);
			z-index: 2;
		}

		.slider__name {
			color: #fff;
			position: relative;
			z-index: 3;
		}
	}

	@media (min-width: $screen-lg-min) {
		padding: 5px;
		width: 12.5%;
	}
}

.slider__img {
	margin: auto;
	margin-bottom: 10px;
	@include size(180px);

	@media (min-width: $screen-lg-min) {
		@include size(95px);
		margin-bottom: 5px;
	}
}

.slider__name {
	font-size: $font-size-small;
	font-weight: 500;
	color: $dark-color;
	display: block;
	transition: all .3s ease;

	@media (min-width: $screen-lg-min) {
		font-size: $font-size-small - 4;
	}
}

// Slick styles redefinition

.slick-prev,
.slick-next {
	float: none;
	z-index: 3;

	&:before {
		content: '';
		font-family: inherit;
		display: block;
		@include size(27px);
		transform: rotate(-45deg);
	}
}

.slick-prev {
	left: 3px;

	&:before {
		border-top: 6px solid $dark-color;
		border-left: 6px solid $dark-color;
	}

	@media (min-width: $screen-lg-min) {
		display: none !important;
	}
}

.slick-next {
	float: none;
	right: 10px;

	&:before {
		border-bottom: 6px solid $dark-color;
		border-right: 6px solid $dark-color;
	}

	@media (min-width: $screen-lg-min) {
		right: 0;
		width: 12%;
		height: 136px;
		background: $gray-color;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;

		&:before {
			border-bottom: 6px solid $dark-color;
			border-right: 6px solid $dark-color;
			margin-left: -12px;
		}

		&:focus {
			background: $gray-color;

		}

		&:hover {
			background: darken($gray-color, 15%);
		}
	}
}

.slick-list {

	@media (min-width: $screen-lg-min) {
		width: 87.5%;
	}
}
