include helpers/_mixins
- var array = '';
- var arrayFav = '';

block global_vars
block project_vars
block favicons

doctype
html(lang='ru')
	head
		+ head(array,arrayFav)
	body(class=array.body_class)
		main.page-main
			.wrapper
				h1.page-main__title Ты сегодня покормил кота?
				block item 
+ scripts
