<!DOCTYPE html>
<html>
	<head>
		<title>Softfacade-test</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" type="image/png" href="./img/favicon.png" />
		<link rel="stylesheet" media="all" href="css/style.css" />
	</head>
	<body>
		@@include('./partials/header.html')
		<main class="main">
			@@include('./partials/banners.html')
			@@include('./partials/receipts.html')
			@@include('./partials/brands.html')
			@@include('./partials/map.html')
			@@include('./partials/loyality.html')
		</main>
		@@include('./partials/footer.html')
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/slick.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
