extends _layout
include helpers/_mixins

block global_vars
	include helpers/_global_vars	

block project_vars
	include helpers/_project_vars

block favicons
	- var arrayFav = {src_ico:'img/favicon.ico'}

block item
	include blocks/item
