<!DOCTYPE html>
<html>
	<head>
		<title>Airtame-test</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel='shortcut icon' type='image/x-icon' href='https://airtame.com/assets/favicon.ico' />
		<link rel="stylesheet" media="all" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			@@include('./partials/header.html')
			<main class="main">
				@@include('./partials/slider.html')
				@@include('./partials/comparison.html')
				@@include('./partials/info.html')
			</main>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script type="text/javascript" src="js/slick.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
