<section class="about">
	<div class="about__img">
		<img src="../img/about-pic.png" srcset="../img/about-pic@2x.png 2x" srcset="../img/about-pic@3x 3x.png" alt="About">
	</div>
	<div class="line"></div>
	<div class="main__info about__info">
		<div class="main__type">Bikini info</div>
		<h2>Mykonos</h2>
		<p class="main__descr">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore magna aliqua.
			Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat. Duis aute irure
			dolor in reprehenderit in voluptate esse cillum dolore eu fugiat nulla cillum dolore eufugiat eu.
		</p>
		<p class="main__descr">
			Are you interested and want to know more? Click the link below.
		</p>
		<a class="main__btn about__btn" href="#">About us</a>
	</div>
</section>
