<section class="banners">
	<div class="banners__content">
		<div class="banners__slider">
			<div class="banners__item is-active">
				<div class="banners__wrapper">
					<div class="banners__inner">
						<div class="banners__title">
							<span class="banners__period">c 30 июня по 6 июля 2015 года</span>
							<h2 class="title">Окорочка куриные охлажденные</h2>
							<span class="banners__amount">1 кг</span>
						</div>
						<img class="banners__img" src="./img/img-chicken.png" alt="chicken">
						<div class="banners__label">
							<span class="banners__price">129 <sup>00</sup></span>
							<span class="banners__price banners__price--canceled">189 <sup>50</sup></span>
							<span class="banners__discount">-20%</span>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="banners__share socials">
						<a class="socials__item socials__item--vk" href="#">v kontakte</a>
						<a class="socials__item socials__item--ok" href="#">odnoklassniki</a>
						<a class="socials__item socials__item--email" href="#">email</a>
					</div>
				</div>
			</div>
			<div class="banners__item is-active">
				<div class="banners__wrapper">
					<div class="banners__inner">
						<div class="banners__title">
							<span class="banners__period">c 30 июня по 6 июля 2015 года</span>
							<h2 class="title">Окорочка куриные охлажденные</h2>
							<span class="banners__amount">1 кг</span>
						</div>
						<img class="banners__img" src="./img/img-chicken.png" alt="chicken">
						<div class="banners__label">
							<span class="banners__price">129 <sup>00</sup></span>
							<span class="banners__price banners__price--canceled">189 <sup>50</sup></span>
							<span class="banners__discount">-20%</span>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="banners__share socials">
						<a class="socials__item socials__item--vk" href="#">v kontakte</a>
						<a class="socials__item socials__item--ok" href="#">odnoklassniki</a>
						<a class="socials__item socials__item--email" href="#">email</a>
					</div>
				</div>
			</div>
			<div class="banners__item is-active">
				<div class="banners__wrapper">
					<div class="banners__inner">
						<div class="banners__title">
							<span class="banners__period">c 30 июня по 6 июля 2015 года</span>
							<h2 class="title">Окорочка куриные охлажденные</h2>
							<span class="banners__amount">1 кг</span>
						</div>
						<img class="banners__img" src="./img/img-chicken.png" alt="chicken">
						<div class="banners__label">
							<span class="banners__price">129 <sup>00</sup></span>
							<span class="banners__price banners__price--canceled">189 <sup>50</sup></span>
							<span class="banners__discount">-20%</span>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="banners__share socials">
						<a class="socials__item socials__item--vk" href="#">v kontakte</a>
						<a class="socials__item socials__item--ok" href="#">odnoklassniki</a>
						<a class="socials__item socials__item--email" href="#">email</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
