<section class="comparison">
	<div class="comparison__tabs tabs">
		<div class="tabs__menu">
			<a class="tabs__link is-active" href="#"><h2 class="comparison__title title" data-item-title="appletv">Apple TV</h2></a>
			<a class="tabs__link" href="#"><h2 class="comparison__title title" data-item-title="airtame">Airtame</h2></a>
		</div>
		<div class="tab">
			<h2 class="title comparison__title comparison__title--desktop" data-item-title="appletv">Apple TV</h2>
			<span class="comparison__subscription">Ideas for your home entertainment</span>
			<img class="comparison__img" src="../img/img-appletv.png" alt="appletv" data-item-img="appletv">
			<div class="comparison__option">
				<h3 class="subtitle">Pick Apple TV if</h3>
				<p>If you only own Apple devices and want to easily watch movies and entertainment at home, you should conside the Apple TV.</p>
			</div>
			<div class="comparison__option">
				<h3 class="subtitle">Apple TV for home</h3>
				<p>Apple TV is made for watching TV shows and sharing personal media at home.</p>
			</div>
			<div class="comparison__option">
				<h3 class="subtitle">Apple-centric</h3>
				<p>Work only with Mac and iOS.</p>
			</div>
			<div class="comparison__brands">
				<span class="comparison__brand comparison__brand--apple"></span>
			</div>
		</div>
		<div class="tab is-hidden">
			<h2 class="comparison__title comparison__title--desktop title" data-item-title="airtame">Airtame</h2>
			<span class="comparison__subscription">Ideas for business and schools work</span>
			<img class="comparison__img" src="../img/img-airtame.png" alt="airtame" data-item-img="airtame">
			<div class="comparison__option">
				<h3 class="subtitle">Pick Airtame if</h3>
				<p>If you want a device agnostic option for your school or business that lets you stream wirelessly, Airtame is the Apple TV alternative for your needs.</p>
			</div>
			<div class="comparison__option">
				<h3 class="subtitle">Airtame for school and work</h3>
				<p>Airtame is that Airtame is intended for cllaborative work at schools and offices</p>
			</div>
			<div class="comparison__option">
				<h3 class="subtitle">Device agnostic</h3>
				<p>Work on multiple platforms.</p>
			</div>
			<div class="comparison__brands">
				<span class="comparison__brand comparison__brand--apple"></span>
				<span class="comparison__brand comparison__brand--win"></span>
				<span class="comparison__brand comparison__brand--android"></span>
			</div>
		</div>
	</div>
</section>
