<footer class="footer">
	<div class="footer__copyright">
		<div class="footer__logo">ALTO GIRO</div>
		<p>© 2017 Alto Giro, All rights reserved</p>
	</div>
	<div class="footer__links">
		<a href="/">Home</a>
		<a href="#">About us</a>
		<a href="#">Contact us</a>
		<a href="#">Culture</a>
	</div>
	<div class="footer__socials">
		<a class="footer__social footer__social--fb" href="#">
			facebook
		</a>
		<a class="footer__social footer__social--tw" href="#">
			twitter
		</a>
		<a class="footer__social footer__social--inst" href="#">
			instagram
		</a>
	</div>

</footer>
