<footer class="footer">
	<div class="container">
		<div class="footer__item">
			<div class="footer__title">Покупателям</div>
			<ul class="footer__links">
				<li class="footer__link">
					<a href="#">О Компании</a>
				</li>
				<li class="footer__link">
					<a href="#">Акции</a>
				</li>
				<li class="footer__link">
					<a href="#">Магазины</a>
				</li>
				<li class="footer__link">
					<a href="#">Новости</a>
				</li>
				<li class="footer__link">
					<a href="#">Товары</a>
				</li>
				<li class="footer__link">
					<a href="#">Рецепты</a>
				</li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">Партнерам</div>
			<ul class="footer__links">
				<li class="footer__link">
					<a href="#">Поставщики</a>
				</li>
				<li class="footer__link">
					<a href="#">Строительство и эксплуатация</a>
				</li>
				<li class="footer__link">
					<a href="#">Аутстаффинг</a>
				</li>
				<li class="footer__link">
					<a href="#">Франчайзинг</a>
				</li>
				<li class="footer__link">
					<a href="#">Субаренда</a>
				</li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">Карьера</div>
			<ul class="footer__links">
				<li class="footer__link">
					<a href="#">Работа для студентов</a>
				</li>
				<li class="footer__link">
					<a href="#">Истории успеха</a>
				</li>
				<li class="footer__link">
					<a href="#">Работа в магазине</a>
				</li>
				<li class="footer__link">
					<a href="#">Работа в офисе</a>
				</li>
				<li class="footer__link">
					<a href="#">Мероприятия</a>
				</li>
				<li class="footer__link">
					<a href="#">HR обучение</a>
				</li>
				<li class="footer__link">
					<a href="#">Работа в логистике</a>
				</li>
			</ul>
		</div>
		<div class="footer__item">
			<div class="footer__title">Обратная связь</div>
			<ul class="footer__links">
				<li class="footer__link">
					<a href="#">Напишите нам</a>
				</li>
				<li class="footer__link">
					<a href="#">Закажите звонок</a>
				</li>
			</ul>
		</div>
		<div class="footer__contacts">
			<img src="../img/logo-mono.svg" alt="Logo">
			<p>
				Головной офис:<br> Адрес: 109029, Москва, Средняя Калитниковская ул., д. 28, стр. 4. Телефон: (495) 662-88-88
			</p>
		</div>
	</div>
</footer>
