<section class="info">
	<h2 class="info__title title">Information</h2>
	<div class="info__option">
		<h3 class="subtitle">Device agnostic</h3>
		<div class="info__descr">
			<p>
				For the most part, Apple TV favors Apple products. For example, the AirPlay function lets you mirror the screen of your Macbook
				or iOS device to an Apple TV. Apple has chosen to restrict this AirPlay function to work only with Apple devices. This limits
				the use of the Apple TV in BYOD environments where a range of different operating systems are in use. There do exist some
				third party software, such as
				<a href="https://airtame.com/airparrot-alternative">AirParrot</a> that allow non-Apple devices, such as a Windows PC, to mirror to an Apple TV using AirPlay. However, you have
				to purchase licenses for this software on each computer, which can add up.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Apple TV vs. Airtame crossplatform support</h3>
		<div class="info__descr">
			<p>
				Airtame is device agnostic, meaning it does not favor any single platform so it’s BYOD friendly. Using only software and
				your computer’s existing WiFi connection, Airtame mirrors the screen of your laptop and lets you present from your mobile
				device. Airtame works with Mac, Windows, and Linux computers to show all your apps and presentations wirelessly. Android
				users can stream presentations, PDFs, Office documents and images with the Airtame mobile app available for both Android
				and iOS. After Airtame 3.1, you can also use AirPlay
				<a href="https://airtame.com/blog/airplay-ios-mirroring-in-public-beta/">iOS mirroring</a> to mirror your iPads and iPhones to an Airtame-enabled screen. As stated in
				<a href="https://help.airtame.com/general#product-roadmap">Airtame's product roadmap</a>
				</a>, Airtame also plans to develop Android mirroring in the future.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Apps vs. Dashboards</h3>
		<div class="info__descr">
			<p>
				Apple TV focuses heavily on apps that aim to replace traditional TV and movies. When you turn the Apple TV on, you will see
				Apple’s classic wall of app icons. From the apps, Apple TV can access your media subscriptions and play your favorite shows
				and movies on your TV. This makes it clear that the Apple TV is made for watching shows and other personal entertainment
				at home.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Apple TV Apps vs. Airtame dashboard on TV</h3>
		<div class="info__descr">
			<p>
				With Airtame’s customizable
				<a href="https://airtame.com/blog/introducing-homescreen-a-step-into-the-future/">Homescreen</a>, you can display an image, website, or dashboard on a TV without the need for additional hardware. Homescreen
				also allows for an easy and intuitive overview of all your Airtame devices. This gives the Airtame Homescreen a practical
				use. It is a digital signage solution that’s useful for a range of different needs. For example, you can show upcoming events,
				a meeting room calendar, or important data that you and your team need to track.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Home network vs. Corporate network</h3>
		<div class="info__descr">
			<p>
				Apple TV and Airtame both support WPA2 Enterprise networks. Apple TV, however, doesn’t work with networks that have multicast
				or <a href="http://www.dial-multiscreen.org/">DIAL</a> disabled for performance and security reasons. That’s because having these disabled means that streaming devices
				are not able to broadcast themselves on the network, letting other devices find them.
			</p>
			<p>
				Airtame, however, works around this issue by letting you connect your computer screen to your TV by typing in the Airtame
				device’s IP address, which is always shown on the TV screen. Note that to use AirPlay iOS mirroring with Airtame, however,
				you will need Multicast enabled.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Apple TV in education</h3>
		<div class="info__descr">
			<p>
				After talking with hundreds of district leaders and IT administrators, we’ve learned of a trend to use Apple TV in education,
				which could be due to the widespread familiarity with Apple’s brand, as well as Apple TV’s relatively low price. However,
				we’ve also seen that problems start to arise when students and teachers use a mix of devices, like Windows or Android, in
				their classrooms.
			</p>
			<p>
				We’ve researched what classrooms and meeting rooms need and designed Airtame with these features in mind. That’s why Airtame
				supports a wide range of platforms, like you’d find in a BYOD environment. Airtame is also optimized to work with enterprise
				grade networks that are set up for high security and performance, like Eduroam. And unlike Apple TV, Airtame offers Airtame
				Cloud, a free cloud-based tool for monitoring and managing multiple devices remotely. With <a href="https://help.airtame.com/install-and-setup/deployment-guide/airtame-cloud">Airtame Cloud</a>, you can change
				device settings in batches, as well as update and reboot multiple devices at once.
			</p>
		</div>
	</div>
	<div class="info__option">
		<h3 class="subtitle">Bottom line</h3>
		<div class="info__descr">
			<p>
				Airtame and Apple TV are two different technologies for different uses.
			</p>
			<p>
				If you want to conveniently stream movies and other entertainment media and you own Apple products, the safe choice is Apple
				TV. If you’re looking for an Apple TV alternative for professional work, Airtame is the wireless solution designed for your
				classrooms and offices. It has professional features, such as cloud-based remote device management, easy integration with
				secure corporate networks, and a Homescreen that doubles as light digital signage to name a few.
			</p>
		</div>
		<p>

		</p>
	</div>
</section>
