<section class="loyality">
	<div class="container">
		<div class="loyality__column loyality__column--descr">
			<h3 class="title">Платите меньшe</h3>
			<p>Станьте частью программы лояльности: получите карту Пятерочки в любом магазине сети и покупайте дешевле.</p>
			<a class="loyality__btn loyality__btn--desktop btn" href="#">Зарегистрировать карту</a>
		</div>
		<div class="loyality__column loyality__column--card">
			<div class="loyality__card">
				<img src="./img/logo-colored.png" alt="Logo colored">
			</div>
			<a href="#" class="loyality__descript">
				<h3>Новые должности во всех магазинах</h3>
				<p>Во всех магазинах «Пятёрочка» введена должность «Директор по свежести». В его обязанности входит постоянный контроль
					срока продуктов, выставленных на полки в торговом зале. Каждый специалист проходит специальную подготовку и аттестуется
					в московском офисе.
				</p>
				<span>13 июня в 11:40</span>
			</a>
			<a class="loyality__btn loyality__btn--mobile btn" href="#">Зарегистрировать карту</a>
		</div>
	</div>
</section>
