<section class="receipts">
	<div class="container">
		<div class="receipts__title">
			<span>Наши рецепты</span>
			<a href="#">340 рецептов</a>
		</div>
		<div class="receipts__slider">
			<a class="receipts__item is-active" href="#">
				<div class="receipts__img">
					<img src="./img/img-receipt-1.png" alt="receipt 1">
				</div>
				<span class="receipts__price">160<sup>00</sup></span>
				<div class="receipts__descr receipts__descr--rec1">
					вегетарианский, простой
				</div>
				<h3 class="receipts__name">Блинчики с клубникой</h3>
				<div class="receipts__time">
					<span class="time"></span>0:40
				</div>
				<div class="receipts__action" href="#">Подобрать продукты</div>
			</a>
			<a class="receipts__item" href="#">
				<div class="receipts__img">
					<img src="./img/img-receipt-2.png" alt="receipt 2">
				</div>
				<span class="receipts__price">190<sup>00</sup></span>
				<div class="receipts__descr receipts__descr--rec2">
					сытный, сложный
				</div>
				<h3 class="receipts__name">Говяжий стейк с песто и кукурузой</h3>
				<div class="receipts__time">
					<span class="time"></span>0:40
				</div>
				<div class="receipts__action" href="#">Подобрать продукты</div>
			</a>
			<a class="receipts__item" href="#">
				<div class="receipts__img">
					<img src="./img/img-receipt-3.png" alt="receipt 3">
				</div>
				<span class="receipts__price">230<sup>00</sup></span>
				<div class="receipts__descr receipts__descr--rec3">
					завтрак, простой
				</div>
				<h3 class="receipts__name">Вафли с медом</h3>
				<div class="receipts__time">
					<span class="time"></span>0:40
				</div>
				<div class="receipts__action" href="#">Подобрать продукты</div>
			</a>
		</div>
	</div>
</section>
