<section class="similar">
	<div class="container">
		<div class="container-inner">
			<div class="similar__title similar__title--mobile">Similar</div>
			<div class="similar__title similar__title--desktop">RELATED ITEMS</div>
			<div class="similar__slider">
				<a class="slider__control slider__control--prev" id="prev">Prev item</a>
				<div id="slider" class="slider swipe">
					<div class="swipe-wrap">
						<div class="slider__item">
							<img class="slider__img" src="../img/slider-1-pic.png" srcset="../img/slider-1-pic@2x.png 2x" srcset="../img/slider-1-pic@3x.png 3x" alt="slide 1">
							<div class="slider__title">
								<h4>
									BATHING SUIT 1 — $55
								</h4>
								<span>New Swimwear Collection</span>

							</div>
						</div>
						<div class="slider__item">
							<img class="slider__img" src="../img/slider-2-pic.png" srcset="../img/slider-2-pic@2x.png 2x" srcset="../img/slider-2-pic@3x.png 3x" alt="slide 1">
							<div class="slider__title">
								<h4>
									BATHING SUIT 2 — $55
								</h4>
								<span>New Swimwear Collection</span>

							</div>
						</div>
						<div class="slider__item">
							<img class="slider__img" src="../img/slider-3-pic.png" srcset="../img/slider-3-pic@2x.png 2x" srcset="../img/slider-3-pic@3x.png 3x" alt="slide 1">
							<div class="slider__title">
								<h4>
									BATHING SUIT 3 — $55
								</h4>
								<span>New Swimwear Collection</span>
							</div>
						</div>
					</div>
				</div>
				<a class="slider__control slider__control--next" id="next">Next item</a>
			</div>
			<a class="main__btn similar__btn" href="#">View item</a>
		</div>
	</div>

</section>
