<section class="slider">
	<h4 class="slider__title">Compare</h4>
	<div class="slider__content slick">
		<div class="slider__item" data-item="appletv">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-appletv.png" alt="appletv">
				<span class="slider__name">Apple TV</span>
			</div>

		</div>
		<div class="slider__item" data-item="chromecast">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-chromecast.png" alt="chromecast">
				<span class="slider__name">Chromecast</span>
			</div>

		</div>
		<div class="slider__item" data-item="miracast">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-miracast.png" alt="miracast">
				<span class="slider__name">Miracast</span>
			</div>

		</div>
		<div class="slider__item" data-item="wepresent">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-wepresent.png" alt="wepresent">
				<span class="slider__name">wePresent</span>
			</div>

		</div>
		<div class="slider__item" data-item="creston">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-creston.png" alt="creston">
				<span class="slider__name">Creston</span>
			</div>

		</div>
		<div class="slider__item" data-item="actiontech">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-actiontech.png" alt="actiontech">
				<span class="slider__name">Action Tech</span>
			</div>

		</div>
		<div class="slider__item" data-item="mersive">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-mersive.png" alt="mersive">
				<span class="slider__name">Mersive</span>
			</div>

		</div>
		<div class="slider__item" data-item="cables">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-cables.png" alt="cables">
				<span class="slider__name">Cables</span>
			</div>

		</div>
		<div class="slider__item" data-item="airserver">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-airserver.png" alt="airserver">
				<span class="slider__name">Airserver</span>
			</div>

		</div>
		<div class="slider__item" data-item="i3sync">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-i3sync.png" alt="i3sync">
				<span class="slider__name">I3sync</span>
			</div>

		</div>
		<div class="slider__item" data-item="intelunit">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-intel-unite.png" alt="intel unit">
				<span class="slider__name">Intel unite</span>
			</div>

		</div>
		<div class="slider__item" data-item="airparrot">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-airparrot.png" alt="airparrot">
				<span class="slider__name">Airparrot</span>
			</div>

		</div>
		<div class="slider__item" data-item="microsoft">
			<div class="slider__container">
				<img class="slider__img" src="../img/img-microsoft.png" alt="microsoft">
				<span class="slider__name">Microsoft</span>
			</div>

		</div>
	</div>
	<!-- <div class="slider__arrows">

	</div> -->
</section>
