// colors

$card-background: #f2f2f2;
$default-card-color: #1698d9;
$hover-card-color: #2ea8e6;
$selected-card-color: #d91667;
$selected-hover-card-color: #e62e7a;
$selected-hover-label: #e52e7a;
$disabled-card-color: #b3b3b3;
$card-title-color: #000;
$card-text-color: #666;
$card-weight-text-color: #fff;
$link-color: #1698d9;
$remark-color: #fff;
$disabled-text-color: #ffff66;

// typographics

$font-fam-1: 'Exo 2 Thin';

$font-1-local: 'Exo 2 Thin';

$font-1-url1: '../fonts/exo20-thin.woff';
$font-1-url2: '../fonts/exo20-thin.woff2';

$font-size-base: 16px;

$h1-size: 36px;
$h2-size: 30px;


// media 

$screen-sm-min: 768px;
$screen-lg-min: 1200px;


$card-border-radius: 12px;


