// colors

$text-color: #303032;
$title-color: #000000;
$header-link-color: $text-color;
$blue-color: #015aff;
$dark-color: #181c28;
$gray-color: #f7f7f9;
$link-color: $blue-color;
$btn-text-color: #fff;
$btn-bg-color: $blue-color;

// typographics

$font-fam: 'Barlow';
$font-local: 'Barlow';

$font-regular-url1: '../fonts/Barlow-Regular.woff2';
$font-regular-url2: '../fonts/Barlow-Regular.woff';
$font-regular-weight: 400;

$font-thin-url1: '../fonts/Barlow-Thin.woff2';
$font-thin-url2: '../fonts/Barlow-Thin.woff';
$font-thin-weight: 100;

$font-medium-url1: '../fonts/Barlow-Medium.woff2';
$font-medium-url2: '../fonts/Barlow-Medium.woff';
$font-medium-weight: 500;

$font-semibold-url1: '../fonts/Barlow-Semibold.woff2';
$font-semibold-url2: '../fonts/Barlow-Semibold.woff';
$font-semibold-weight: 600;

$font-bold-url1: '../fonts/Barlow-Bold.woff2';
$font-bold-url2: '../fonts/Barlow-Bold.woff';
$font-bold-weight: 700;

$font-size-base: 19px;
$font-size-title: 48px;
$font-size-subtitle: 24px;
$font-size-small: 16px;
$font-size-header: 12px;

// media

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

// other

$btn-border-radius: 2px;



